@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom right, #6ddcfe, #f6f9fc);
  color: #333;
  min-height: 100vh;
}

/* Contenedor general */
.main-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}